footer{
	background-color: #232e48;
}
.footer_container{
	max-width: $desktop-max-width;
	margin: 0 auto;	
	padding:30px 0;
	overflow: auto;
}
.footer_logo{
	float: left;
	p{
		color: $text-color-primary;
		padding: 0;
	}
}
.footer_social{
	float: right;
	ul{
		padding: 0;
		margin: 0 ;
		list-style: none;
		text-align: right;
		li{
			color: $text-color-primary;
			display: inline-block;
			margin-right: 20px;
			&:last-child{
				margin-right: 0;
			}
			a{
				color: $text-color-primary;
				display: block;
				&.facebook{
					@extend .ico-facebook;
					&:hover{
						@extend .ico-facebook-hover;
					}
				}
				&.instagram{
					@extend .ico-instagram;
					&:hover{
						@extend .ico-instagram-hover;
					}
				}
				&.youtube{
					@extend .ico-youtube;
					&:hover{
						@extend .ico-youtube-hover;
					}
				}
				&.twitter{
					@extend .ico-twitter;
					&:hover{
						@extend .ico-twitter-hover;
					}
				}
			}
		}
	}
}
