footer{
	background-color: #232e48;
	@media (max-width: 950px) {
		padding:0 20px;
	}
}
.footer_container{
	max-width: $desktop-max-width;
	margin: 0 auto;	
	padding: 68px 0 44px;
	overflow: auto;
	@media (max-width: 767px) {
		padding: 50px 0;
	}
}
.footer_logo{
	float: left;
	@media (max-width: 767px) {
		float:none;
		text-align:center;
	}
	img{
		margin: 0 0 20px;
		@media (max-width: 767px) {
			display:block;
			margin:0 auto;
		}
	}
	p{
		color: $text-color-primary;
		padding: 0;
	}
}
.footer_social{
	float: right;
	@media (max-width: 767px) {
		float:none;
		text-align:center;
		margin: 30px 0 0;
	}
	ul{
		padding: 0;
		margin: 0 0 18px;
		list-style: none;
		text-align: right;
		@media (max-width: 767px) {
			display: table;
			margin:0 auto;
			text-align:center;
		}
		li{
			color: $text-color-primary;
			display: inline-block;
			margin-right: 12px;
			@media (max-width: 767px) {
				padding: 5px 10px;
    			margin: 0;
			}
			&:last-child{
				margin-right: 0;
			}
			a{
				color: $text-color-primary;
				display: block;
				&.facebook{
					@extend .ico-facebook;
					&:hover{
						@extend .ico-facebook-hover;
					}
				}
				&.instagram{
					@extend .ico-instagram;
					&:hover{
						@extend .ico-instagram-hover;
					}
				}
				&.youtube{
					@extend .ico-youtube;
					&:hover{
						@extend .ico-youtube-hover;
					}
				}
				&.twitter{
					@extend .ico-twitter;
					&:hover{
						@extend .ico-twitter-hover;
					}
				}
			}
		}
	}
}
