header{
	background: #232e48;	
}
.header_container{
	max-width: $desktop-max-width;
	margin: 0 auto;	
	padding:33px 0 31px;
	.ico-cross{
		margin: 0 8px 5px 12px;
	}
}
.logo{
	float:left;
	width:50%;
}
.header_links{
	float:left;
	width:50%;
	ul{
		list-style-type:none;
		float:right;
		margin: 5px 0 0;
		li{
			float:left;
			display:inline-block;
			margin:0 28px 0 0;
			color:#fff;
			a{
				color:#fff;
			}
		}
		.select-language{
			cursor:pointer;
			margin:0;
			position: relative;
			i{
				margin: 0 7px 0 0;
			}
		}
	}
	.header_language{
		display:none;
		padding:0;
		margin:0;
		background: #fff;
		border:1px solid $text-color-secondary;
		border-radius:3px;
		li{
			display:block;
			float:none;
			margin:0;
			a{
				color:$text-color-base;
				display:block;
				padding:5px 10px;
				text-align:center;
				font-weight:600;
			}
		}
		&.active{
			display:block;
			position: absolute;
			left: -10px;
    		min-width: 70px;
    		a{
    			text-align: left;
    		}
		}
	}
}
