header{
	background: #232e48;
	position: relative;
    z-index: 4;
	@media (max-width: 950px) {
		padding:0 15px;
	}	
}
.header_container{
	max-width: $desktop-max-width;
	margin: 0 auto;	
	padding: 36px 0;
	@media (max-width: 767px) {
		padding: 20px 0;
	}
	.plus-icon{
		margin: 0 12px;
		@media (max-width: 767px) {
			margin: 0 4px;
		}
	}
}
.logo{
	float:left;
	width:50%;
	@media (max-width: 767px) {
		width:90%;
	}
	i{
		@media (max-width: 767px) {
			font-size:7px;
		}	
	}
}
.hamburguer-icon{
	@media (max-width: 767px) {
		position: relative;
    	top: -3px;
	}
}
.hamburger-menu{
	display: none;
	color:#fff;
	width:10%;
	float:right;
	text-align: right;
	@media (max-width: 767px) {
		display: block;
	}
}
.header_links{
	float:left;
	width:50%;
	@media (max-width: 767px) {
		display:none;
		float:none;
		width:100%;
	}
	ul{
		list-style-type:none;
		float:right;
		margin: 2px 0 0;
		padding:0;
		@media (max-width: 767px) {
			margin:20px 0 0;
		}
		li{
			float:left;
			display:inline-block;
			margin:0 28px 0 0;
			color:#fff;
			a{
				color:#fff;
			}
		}
		.select-language{
			cursor:pointer;
			margin:0;
			position: relative;
			i{
				margin: 0 7px 0 0;
				position: relative;
				top: -2px;
    			right: -2px;
			}
		}
	}
	.header_language{
		display:none;
		padding:0;
		margin:0;
		background: #232e48;
		border:1px solid #fff;
		border-radius:3px;
		li{
			display:block;
			float:none;
			margin:0;
			a{
				color:#fff;
				display:block;
				padding:5px 10px;
				text-align:center;
				font-weight:600;
			}
		}
		&.active{
			display:block;
			position: absolute;
			left: -10px;
    		min-width: 70px;
    		top: 30px;
    		@media (max-width: 950px) {
    			left: -17px;
    		}
    		a{
    			text-align: left;
    		}
		}
	}
}
