.newsletter{
	background: #fff;
}
.newsletter_container{
	max-width: 560px;
	margin: 0 auto;	
	padding: 30px 0;
	text-align: center;
	p{
		color: $text-color-secondary;
	}
	ul{
		list-style-type: none;
		li{
			float: left;
			width: 50%;
			display: block;
			a.newsletter_link{
				background: #5873bb;
				padding: 20px;
				color: $text-color-primary;
				border-radius: 3px;
				font-weight: 900;
				display: block;
			}
			a.campaign_link{
				background: #ffd451;
				padding: 20px;
				border-radius: 3px;
				font-weight: 900;
				display: block;
                cursor: pointer;
			}
		}
	}
}

.gcap-custom-capture .gcap-form {
    text-align: center;
    line-height: 38px;
    font-size: 16px;
    position: relative;
    width: 100%;
    display: block;
    overflow: hidden;
    padding: 0 30px;
    box-sizing: border-box;
    background: #ffe8be!important;
    border-radius: 5px;
    padding: 4% 7% 4.5%;
    background: #ffe8be!important;
    font-family: Lato
}

.gcap-custom-capture .gcap-form .gcap-body {
    overflow: hidden;
    position: relative
}

.gcap-custom-capture .gcap-form .gcap-body .gcap-inputs {
    display: block;
    float: left;
    width: 76.5%
}

.gcap-custom-capture .gcap-form .gcap-body .gcap-inputs input {
    border: none;
    border-radius: 3px;
    background-color: #fff;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.57;
    letter-spacing: -.3px;
    color: #7b7b85;
    width: 36%;
    margin-right: 15px
}

.gcap-custom-capture .gcap-form .gcap-body .gcap-inputs input:active,.gcap-custom-capture .gcap-form .gcap-body .gcap-inputs input:focus,.gcap-custom-capture .gcap-form .gcap-body .gcap-inputs input:hover {
    border: none!important;
    outline: 0!important
}

.gcap-custom-capture .gcap-form .gcap-body .gcap-inputs input:first-child {
    background: url(../images/name.png) no-repeat 23px #fff;
    padding: 15px 15px 15px 45px
}

.gcap-custom-capture .gcap-form .gcap-body .gcap-inputs input:last-child {
    margin-right: 5px;
    background: url(../images/email.png) no-repeat 19px #fff;
    padding: 15px 15px 15px 43px
}

.gcap-custom-capture .gcap-form .gcap-body .gcap-inputs input.gcap-error {
    background-color: #fee!important;
    border-color: #ee6552!important
}

.gcap-custom-capture .gcap-form .gcap-body .gcap-inputs input.gcap-error:focus {
    background-color: #fee!important;
    border-color: #ee6552!important
}

.gcap-custom-capture .gcap-form .gcap-body .gcap-button-wrapper {
    position: relative;
    display: block;
    float: left;
    width: 21.5%
}

.gcap-custom-capture .gcap-form .gcap-body .gcap-button-wrapper .gcap-button {
    display: block;
    border-radius: 3px;
    background-color: #5873bb;
    border: none;
    vertical-align: middle;
    outline: 0
}

.gcap-custom-capture .gcap-form .gcap-body .gcap-button-wrapper .gcap-button input {
    display: block;
    width: 100%;
    padding: 16px;
    background: #5873bb;
    border: none;
    border-radius: 3px;
    color: #fff
}

.gcap-custom-capture .gcap-form .gcap-body .gcap-button-wrapper .gcap-button input:hover {
    background: #ffd25d;
    color: #000
}

.gcap-custom-capture .gcap-form .gcap-body .gcap-button-wrapper .gcap-button input:focus {
    border: none!important;
    outline: 0!important
}

.gcap-custom-capture .gcap-form .gcap-body .gcap-button-wrapper .gcap-button span {
    display: none
}

.gcap-custom-capture .gcap-form .gcap-body .gcap-button-wrapper .gcap-button:hover {
    text-decoration: underline
}

.gcap-custom-capture .gcap-form .gcap-body .gcap-button-wrapper .gcap-button:active {
    text-decoration: underline
}

.gcap-custom-capture .gcap-form .gcap-body .gcap-button-wrapper .gcap-button::-moz-focus-inner {
    border: 0;
    padding: 0
}

.gcap-custom-capture .gcap-form .gcap-thanks {
    height: 0;
    overflow: hidden;
    line-height: 22px;
    position: relative;
    opacity: 0;
    margin: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s
}

.gcap-sending.gcap-custom-capture .gcap-form .gcap-thanks {
    position: absolute;
    display: block
}

.gcap-done.gcap-custom-capture .gcap-form .gcap-thanks {
    height: auto;
    min-height: 42px;
    pointer-events: auto;
    padding: 3px 48px;
    opacity: 1
}

.gcap-custom-capture .gcap-form .gcap-close {
    display: none
}

@media (max-width: 767px) {
    .gcap-custom-capture .gcap-form .gcap-body .gcap-inputs {
        float:none;
        width: 100%
    }

    .gcap-custom-capture .gcap-form .gcap-body .gcap-inputs input {
        display: block;
        width: 100%;
        margin: 0;
        box-sizing: border-box
    }

    .gcap-custom-capture .gcap-form .gcap-body .gcap-inputs input:last-child {
        margin-top: 20px
    }

    .gcap-custom-capture .gcap-form .gcap-body .gcap-button-wrapper .gcap-button input {
        min-width: 200px;
        margin-top: 20px
    }

    .gcap-custom-capture .gcap-form {
        padding: 30px 20px
    }
}