.offers{
	background: #fff;
	position: relative;
	z-index: 2;
	
}
.offers_container{
	max-width: $desktop-max-width;
	margin: 0 auto;	
	padding: 12px 0 26px;
	ul{
		list-style-type: none;
		padding: 0 13.5%;
		@media (max-width: 930px) {
			padding:0;
		}
		@media (max-width: 767px) {
			padding: 0 0 0 5px;
		}
		li{
			display: block;
			float: left;
			width:32%;
			text-align:center;
			font-size: 18px;
			margin-right:8px;
			&:last-child{
				margin-right:0;
			}
			&:first-child{
				margin-right:19px;
				@media (max-width: 767px) {
					margin-right:0;
				}
			}
			@media (max-width: 767px) {
				font-size:12px;
				font-weight:300;
				margin-right: 0px;
				margin-right:0;
				width: 33%;
			}
			i{
			    margin: 0 10px;
			    position: relative;
			    top: -4px;
				@media (max-width: 767px) {
					margin: 11px 5px 0 0;
				    display: block;
				    float: left;
				}
			}
			span{
				@media (max-width: 767px) {
					display: block;
				    float: left;
				    width: 67%;
				    text-align:left;
				}
			}
		}
	}
}
.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #fff;
  position: absolute;
  bottom: -15px;
  left:49%;
}