.offers{
	background: #fff;
	position: relative;
	z-index: 2;
}
.offers_container{
	max-width: $desktop-max-width;
	margin: 0 auto;	
	padding:30px 0;
	ul{
		list-style-type: none;
		li{
			display: block;
			float: left;
			width:33.3%;
			text-align:center;
			font-size: 18px;
		}
	}
}
.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #fff;
  position: absolute;
  bottom: -15px;
  left:50%;
}