.sitemap{
	background: #f2f2f2;
}
.sitemap_container{
	max-width: $desktop-max-width;
	margin: 0 auto;	
	padding:30px 0;
}
.sitemap_links{
	width: 24%;
	float: left;
	margin-right: 10px;
	&:last-child{
		margin-right:0;
	}
	p{
		font-weight: 600;
		padding: 0;
		margin: 0;
		line-height: 1.93;
		border-bottom: 1px solid #dddee0;
	}
	ul{
		list-style: none;
		padding: 0;
		margin: 0;
		li{
			a{
				display:block;
				font-family: $font-family-helvetica-light;
				font-size: 13px;
			}
		}
	}
}

@media (max-width: 767px) {
	.sitemap_links{
		width: 100%;
   		float: none;
   		p{
   			cursor: pointer;
   		}
		ul{
			display:none;
		}
	}
}

