.slider{
	background: #5873bb;
	padding:0 60px;
	.select2-container{
		display: block;
	    margin: 16px auto;
	    border: none;
	    border-radius: 3px;
	    padding: 12px 0 19px;
	    min-width: 452px;
	    text-align: center;
	    -webkit-appearance: none;
	    -moz-appearance: none;
	    text-indent: 1px;
	    text-overflow: '';
	    background: #fff url(../images/select-city.png) no-repeat right 11px top 13px;
	    p{
	    	padding:0;
	    	margin:0;
	    }
	    &:focus{
	    	outline:none;
	    }
	    @media (max-width: 767px) {
	    	min-width:auto !important;
	    }
	}
	.select2-container--default .select2-selection--single {
	    background-color: transparent;
	    border: none;
	    border-radius: 3px;
	}
	.select2-container--default .select2-selection--single .select2-selection__rendered {
	    color: #232e48;
	    line-height: inherit;
	    padding: 0;
	    border: none;
	    outline: none;
	    .option-city{
	    	color: #232e48;
	    	font-size: 22px;
	    	font-weight:600;
	    	span{
	    		font-size:16px;
	    		font-weight:300;
	    	}
	    }
	}
	.select2-container--default .select2-selection--single .select2-selection__arrow{
		display:none;
	}
	.slick-slider{
		margin-top: 49px;
		padding:0;
	}
}
.slider_container{
	max-width: $desktop-max-width;
	margin: 0 auto;	
	padding: 62px 0 57px;
	text-align: center;
	color: $text-color-primary;
	h2{
		color: $text-color-primary;
	}
	> p{
		font-size: 26px;
		font-weight: 300;
		position: relative;
		display:inline-block;
		padding: 0 0;
    	margin: 14px 0;
		&:after{
			content: "";
			position: absolute;
			left:-60px;
			top:50%;
			width: 40px;
			height: 1px;
			background: #fff;
			@media (max-width: 767px) {
				display:none;
			}
		}
		&:before{
			content: "";
			position: absolute;
			right:-60px;
			top:50%;
			width: 40px;
			height: 1px;
			background: #fff;
			@media (max-width: 767px) {
				display:none;
			}
		}
	}
	> span{
		font-size:18px;
		font-weight:300;
		display:block;
		padding: 18px 0 0;
	}
	.slick-slide{
		background: #fff;
	    padding: 10px 15px;
	    border-radius: 3px;
	    margin:0 7px;
	    -webkit-box-shadow: 0px 4px 10px 0 rgba(0,0,0,.25);
		-moz-box-shadow: 0px 4px 10px 0 rgba(0,0,0,.25);
		box-shadow: 0px 4px 10px 0 rgba(0,0,0,.25);
		padding: 16px 15px;
	    h6{
	    	line-height: 1.29;
	    	color:$text-color-base;
	    	font-size:14px;
	    	margin-top: 16px;
	    }
	    p{
	    	color:$text-color-secondary;
	    	font-size: 14px;
		    font-weight: 300;
		    line-height: 1.29;
	    }
	    button{
	    	background:#ffd25d;
	    	border:none;
	    	outline:none;
	    	border-radius:3px;
	    	text-align:center;
	    	font-weight:900;
	    	color:$text-color-base;
	    	display:block;
	    	padding:10px 30px;
	    	margin:0 auto;
	    	&:focus{
	    		outline:none;
	    	}
	    	&:hover{
	    		text-decoration: underline;
	    	}
	    }
	}
	.slick-list {
	    padding: 0 0 10px;
	}
	.slick-arrow {
	    font-size: 0;
	    line-height: 0;
	    text-indent: -4004px;
	    width: 45px;
	    height: 45px;
	    background: #fff;
	    line-height: 60px;
	    position: absolute;
	    top: 50%;
	    margin-top: -51px;
	    z-index: 999;
	    -webkit-transition:all .3s;
	    transition: all .3s;
	    border-radius:100px;
	    border:none;
	    opacity:0.8;
	    &:before {
		    display: inline-block;
		    content: '';
		    width: 8px;
		    height: 8px;
		    border-top: 1px solid #232e48;
		    border-right: 1px solid #232e48;
		    border-width: 2px;
		    -webkit-transform: rotate(45deg);
		    transform: rotate(45deg);
		    position: absolute;
		    top: 49%;
		    left: 49%;
		    margin-top: -4px;
		    margin-left: -5px;
		}
		&:focus{
			outline:none;
		}
		&:hover{
			opacity:1;
		}
	}
	
	.slick-prev {
	    left: -66px;
	    @media (max-width: 1100px) {
	    	left:-55px;
	    }
	    @media (max-width: 767px) {
			left:0;		}
	}
	.slick-prev:before {
	    -webkit-transform: rotate(225deg);
	            transform: rotate(225deg);
	}
	.slick-next {
	    right: -53px;
	    @media (max-width: 767px) {
			right:0;
		}
	}
	img{
		display:block;
		margin:0 auto;
	}
	.slick-dots{
		list-style: none;
		font-size:0;
		margin-top:40px;
		padding:0;
		li{
			display: inline-block;
			margin:0 5px;
			&.slick-active{
				button{
					opacity:1;
				}
			}
			button{
				background: #fff;
			    border: none;
			    border-radius: 100px;
			    height: 8px;
			    width: 8px;
			    display: block;
			    padding:0;
			    opacity:0.5;
			    &:focus{
			    	outline:none;
			    }
			}
		}
	}
}
