.ico-add-room {
  width : 10px;
  height : 10px;
  background-position : -142px -16px;
  background-image : url(../images/sprite.png);
}  
.ico-campaign-arrow {
  width : 20px;
  height : 20px;
  background-position : -99px -71px;
  background-image : url(../images/sprite.png);
}  
.ico-chat {
  width : 17px;
  height : 14px;
  background-position : -35px -99px;
  background-image : url(../images/sprite.png);
}  
.ico-close-btn {
  width : 28px;
  height : 28px;
  background-position : -66px -66px;
  background-image : url(../images/sprite.png);
}  
.ico-company {
  width : 15px;
  height : 16px;
  background-position : -20px -99px;
  background-image : url(../images/sprite.png);
}  
.ico-confirm {
  width : 14px;
  height : 10px;
  background-position : -82px -99px;
  background-image : url(../images/sprite.png);
}  
.ico-contact {
  width : 16px;
  height : 16px;
  background-position : -123px -73px;
  background-image : url(../images/sprite.png);
}  
.ico-cross-stage {
  width : 24px;
  height : 24px;
  background-position : -99px 0px;
  background-image : url(../images/sprite.png);
}  
.ico-cross {
  width : 16px;
  height : 16px;
  background-position : -123px -57px;
  background-image : url(../images/sprite.png);
}  
.ico-delete {
  width : 21px;
  height : 24px;
  background-position : -99px -24px;
  background-image : url(../images/sprite.png);
}  
.ico-email {
  width : 16px;
  height : 12px;
  background-position : -123px -105px;
  background-image : url(../images/sprite.png);
}  
.ico-facebook-hover {
  width : 33px;
  height : 33px;
  background-position : -33px -66px;
  background-image : url(../images/sprite.png);
}  
.ico-facebook {
  width : 33px;
  height : 33px;
  background-position : 0px -66px;
  background-image : url(../images/sprite.png);
}  
.ico-flag-english {
  width : 16px;
  height : 10px;
  background-position : -66px -99px;
  background-image : url(../images/sprite.png);
}  
.ico-instagram-hover {
  width : 33px;
  height : 33px;
  background-position : 0px 0px;
  background-image : url(../images/sprite.png);
}  
.ico-instagram {
  width : 33px;
  height : 33px;
  background-position : -66px -33px;
  background-image : url(../images/sprite.png);
}  
.ico-map {
  width : 12px;
  height : 16px;
  background-position : -142px 0px;
  background-image : url(../images/sprite.png);
}  
.ico-newsletter {
  width : 20px;
  height : 23px;
  background-position : -99px -48px;
  background-image : url(../images/sprite.png);
}  
.ico-offers {
  width : 19px;
  height : 19px;
  background-position : -123px -20px;
  background-image : url(../images/sprite.png);
}  
.ico-plus {
  width : 14px;
  height : 14px;
  background-position : -52px -99px;
  background-image : url(../images/sprite.png);
}  
.ico-policies {
  width : 16px;
  height : 16px;
  background-position : -123px -89px;
  background-image : url(../images/sprite.png);
}  
.ico-press-release {
  width : 19px;
  height : 20px;
  background-position : -123px 0px;
  background-image : url(../images/sprite.png);
}  
.ico-selfie {
  width : 19px;
  height : 18px;
  background-position : -123px -39px;
  background-image : url(../images/sprite.png);
}  
.ico-star {
  width : 20px;
  height : 19px;
  background-position : 0px -99px;
  background-image : url(../images/sprite.png);
}  
.ico-twitter-hover {
  width : 33px;
  height : 33px;
  background-position : -66px 0px;
  background-image : url(../images/sprite.png);
}  
.ico-twitter {
  width : 33px;
  height : 33px;
  background-position : -33px -33px;
  background-image : url(../images/sprite.png);
}  
.ico-website {
  width : 15px;
  height : 15px;
  background-position : 0px -118px;
  background-image : url(../images/sprite.png);
}  
.ico-youtube-hover {
  width : 33px;
  height : 33px;
  background-position : 0px -33px;
  background-image : url(../images/sprite.png);
}  
.ico-youtube {
  width : 33px;
  height : 33px;
  background-position : -33px 0px;
  background-image : url(../images/sprite.png);
}  
