.stage{
	background: #5873bb;
}
.stage_container{
	max-width: $desktop-max-width;
	margin: 0 auto;	
	padding:58px 0 70px;
	@media (max-width: 950px) {
		padding:58px 20px 70px;
	}
	@media (max-width: 767px) {
		padding: 30px 0;
	}
	h1{
		max-width:400px;
		width:auto;
		float:left;
		@media (max-width: 950px) {
			padding:0 20px;
		}
		@media (max-width: 767px) {
    		text-align: center;
    		float:none;
		}
	}
}
.stage__heading{
	.ico-cross-stage{
		margin: 3px 4px;
		@media (max-width: 767px) {
			margin: 0 0 -2px;
		}
	}
}
.stage__form{
	max-width: 400px;
	background: #fff;
	padding: 19px 30px 13px;
	box-sizing:border-box;
	text-align:center;
	clear:both;
	border-radius: 3px;
	@media (max-width: 767px) {
		margin-top:50px;
		border-radius:0;
		padding: 19px 20px 13px;
	}
	.form__btn{
		display: block;
	    margin: 20px auto 0;
	    background: #ffd25d;
	    border: none;
	    padding: 14px;
	    width: 100%;
	    border-radius: 3px;
	    font-size: 15px;
	    font-weight: 900;

	    &.disabled {
	    	background: #e5e5e5;
	    }
	}
	.stage__hint{
		font-size:13px;
		font-weight:300;
		@media (max-width: 767px) {
			display:none;
		}
	}
}
.form__control{
	.select2-container{
		display: block;
	    width: 100% !important;
	    border: 2px solid #e4e4e7;
	    margin: 10px 0 18px;
	    padding: 9px;
	    color: #7b7b85;
	    font-size: 12px;
	    opacity: 0.75;
	    -webkit-appearance: none;
	    -moz-appearance: none;
	    text-indent: 1px;
	    text-overflow: '';
	    text-align:left;
	    border-radius: 3px;
	    #select2-city-container{
	    	background: url(../images/location.png) no-repeat right 10px top 2px;
	    }
	    #select2-property-container{
	    	background: url(../images/location.png) no-repeat right 10px top 2px;
	    }
	}
	.select2-container--default .select2-selection--single {
	    background-color: transparent;
	    border: none;
	    border-radius: 3px;
	}
	.select2-container--default .select2-selection--single .select2-selection__arrow{
		display:none;
	}
	.form__label{
		font-size: 13px;
		font-weight: 600;
	}
}
.select2-search{
		input{
			&:focus{
				outline:none;
			}
		}
	}
.form_guestWrap{
	overflow: auto;
	.form__control{
		width:29.4%;
		float:left;
		margin-right:20px;
		text-align:center;
		@media (max-width: 767px) {
			width: 28.4%;
		}
		&:last-child{
			margin-right:0;
		}
		input{
			display: block;
		    width: 100%;
		    border: 2px solid #e4e4e7;
		    margin-top: 7px;
		    padding:29px 0 10px;
		    color: #7b7b85;
		    font-size: 12px;
		    opacity: 0.75;
		    -webkit-appearance: none;
		    -moz-appearance: none;
		    text-indent: 1px;
		    text-overflow: '';
		    box-sizing: border-box;
		    text-align:center;
		    &.check-in{
		    	background: url(../images/calandar.png) no-repeat center top 7px;
		    }
		    &.check-out{
		    	background: url(../images/calandar.png) no-repeat center top 7px;
		    }
		}
		.input-wrap{
			background: url(../images/corner-icon.png) no-repeat bottom right;
		}
		.guest{
	    	background: url(../images/guest.png) no-repeat center top 7px;
	    	padding: 29px 0 10px;
	    }
	    select{
	    	&:focus{
	    		outline:none;
	    	}
	    }
	}

}
.stage_conditions{
	max-width: 435px;
	font-size:14px;
	line-height:1.57;
	color:#ffffff;
	font-family:$font-family-helvetica-light;
	margin-top:30px;
	@media (max-width: 950px) {
		padding:0 20px;

	}
	a{
		color:#ffffff;
		text-decoration:underline;
		cursor:pointer;
		display: block;
    	margin: 14px 0 0;
    	i{
    		margin: 0 12px 0 0;
    	}
		&:hover{
			text-decoration:none;
		}
	}
	.checkbox-wrap { position: relative; }
	.checkbox-wrap input { position: absolute; left: 0; right: 0; opacity: 0; }
	.checkbox-wrap label { position: relative; display: inline-block; padding-left: 30px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
	.checkbox-wrap label:after { position: absolute; top: 0; left: 0; width: 18px; height: 18px; border-radius:3px;border: 1px solid #fff; background: transparent; background-position: center center; content: ''; -webkit-transition:all .3s; transition: all .3s; }
	.checkbox-wrap input:checked + label:after { border-color: #ccc; background: transparent url(../images/check.jpg) no-repeat center center; background-size: 11px 7px; }
}
#fade{
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index:1001;
    -moz-opacity: 0.7;
    opacity:.70;
    filter: alpha(opacity=70);
}
#light{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: auto;
    margin-left: -150px;
    margin-top: -100px;                 
    padding: 45px 20px;
    background: #fff;
    z-index:1002;
    overflow:visible;
    color:$text-color-base;
    text-align:center;
    span{
    	position: absolute;
	    top: 1px;
	    right: 1px;
	    font-size: 20px;
	    padding: 0px 13px 5px;
	    border: 1px solid #000;
	    cursor:pointer;
	    &:hover{
	    	background: #ffd25d;
	    }
    }
}
.stage_promotion{
	background: #fff;
	border-radius:100px;
	color: $text-color-secondary;
	font-weight:300;
	font-size:12px;
	width:110px;
	height:110px;
	float:right;
	text-align:center;
	overflow:hidden;
	padding: 32px 0;
    box-sizing: border-box;
    line-height:1.08;
    -webkit-box-shadow: 0px 4px 10px 0 rgba(0,0,0,.25);
	-moz-box-shadow: 0px 4px 10px 0 rgba(0,0,0,.25);
	box-shadow: 0px 4px 10px 0 rgba(0,0,0,.25);
	margin-top: 16px;
	span{
		font-weight:900;
		color:$text-color-base;
		font-size:14px;
		display:block;
		line-height:1.5;
	}
	@media (max-width: 767px) {
		display:none;
	}
}

.ui-datepicker-next{
	background: url(../images/calandar-next.png) no-repeat center;
	width:40px !important;
	height:28px !important;
	&:hover{
		background: url(../images/calandar-next.png) no-repeat center;
	}
}
.ui-datepicker-prev{
	background: url(../images/calandar-prev.png) no-repeat center;
	width:40px !important;
	height:28px !important;
	&:hover{
		background: url(../images/calandar-prev.png) no-repeat center;
	}
}
.ui-datepicker .ui-datepicker-header{
	background: none;
    border: none;
}
.ui-datepicker .ui-datepicker-title{
	color: #232e48;
	font-size:16px;
}
.ui-datepicker-calendar{
	color: #232e48;
}
.ui-datepicker td{
	font-size:15px;
	border-right: 1px solid #dddee0;
	border-bottom: 1px solid #dddee0;
	padding:0;
}
.ui-datepicker tbody{
	border-top: 1px solid #dddee0;
	border-bottom: 1px solid #dddee0;
	border-left: 1px solid #dddee0;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
	background: #fff;
	color: #232e48;
	border:none;
	&:hover{
    	background: #232e48 !important;
		color:#fff !important;
    }
}
.ui-widget.ui-widget-content{
	border-top: 1px solid #dddee0;
	padding:10px;
	margin-top: 20px;
	z-index: 3 !important;
	width: auto;
	-webkit-box-shadow: 0 15px 15px 0 rgba(35, 46, 72, 0.25);
	-moz-box-shadow: 0 15px 15px 0 rgba(35, 46, 72, 0.25);
	box-shadow: 0 15px 15px 0 rgba(35, 46, 72, 0.25);
}
.ui-datepicker-title{
	position: relative;
	&:after {
	    content: '';
	    position: absolute;
	    top: -23px;
	    left: -12px;
	    border: solid #dddee0;
	    border-width: 0 1px 1px 0;
	    display: inline-block;
	    padding: 9px;
	    transform: rotate(-135deg);
	    -webkit-transform: rotate(-135deg);
	}
	&:before {
	    content: '';
	    position: absolute;
	    top: -14px;
	    left: -16px;
	    width: 27px;
	    height: 1px;
	    background: #fff;
	}
}
.ui-datepicker td span, .ui-datepicker td a{
	padding: 5px 10px;
    text-align: center;
}
a.ui-state-active{
	background: #232e48 !important;
	color:#fff !important;
}
form{
	position: relative;
}
.select-guest-container{
	position: absolute;
    top: 85%;
    left: 0;
    background: #fff;
    width: 100%;
    box-shadow: 0 15px 15px 0 rgba(35, 46, 72, 0.25);
    -webkit-box-shadow: 0 15px 15px 0 rgba(35, 46, 72, 0.25);
	-moz-box-shadow: 0 15px 15px 0 rgba(35, 46, 72, 0.25);
  	border: solid 1px #e4e4e7;
  	margin-top:-3px;
  	padding: 20px;
  	z-index: 4;
  	border-bottom: 5px solid #ffd25d;
  	left: -20px;
  	@media (max-width: 767px) {
  		left: -22px;
  	}
    &:after {
	    content: '';
	    position: absolute;
	    top: -10px;
	    right: 60px;
	    border: solid #dddee0;
	    border-width: 0 1px 1px 0;
	    display: inline-block;
	    padding: 9px;
	    transform: rotate(-135deg);
	    -webkit-transform: rotate(-135deg);
	    @media (max-width: 767px) {
	    	right:51px;
	    }
	}
	&:before {
	    content: '';
	    position: absolute;
	    top: -1px;
	    right: 56px;
	    width: 27px;
	    height: 1px;
	    background: #fff;
	    @media (max-width: 767px) {
	    	right:47px;
	    }
	}
	h5{
		font-size: 16px;
  		font-weight: 900;
  		border-bottom:1px solid #dddee0;
  		color:$text-color-base;
  		padding: 0 0 15px;
  		text-align:left;
	}

}
.button-wrap{
	border-top:1px solid #dddee0;
	padding:20px 0 0;
}
.cancel-select-guest{
	position: absolute;
    top: 15px;
    right: 20px;
}
.room-list{
	margin-top:0;
	.room{
		margin-top:20px;
		.form__control{
			float:left;
			width:auto;
			margin-right:20px;
			@media (max-width: 767px) {
				margin-right:10px;
			}
			select{
				padding: 4px 1px 5px 7px;
    			text-align: center;
    			&:focus{
    				outline:none;
    			}
			}
		}
		.room__age-container{
			float:left;
			width:auto;
			padding:0 0 0 20px;
			border-left: 1px solid #dddee0;
			@media (max-width: 767px) {
				padding:0 0 0 10px;
			}
			.room__heading{
				display:none;
			}
			.room__heading:first-child{
				display:block;
			}
			.form__con{
				float:left;
				width:auto;
				margin-right:20px;
				@media (max-width: 767px) {
					margin-right:10px;
				}
				select{
					padding: 4px 1px 5px 7px;
	    			text-align: center;
	    			&:focus{
	    				outline:none;
	    			}
				}	
			}
		}
		.form__label{
			font-size: 12px;
			opacity: 0.75;
		}
		.room-container{
			width: auto;
		    float: left;
		    text-align: left;
		}
		.room__heading{
	    	font-size: 14px;
			font-weight: 900;
			text-align:left;
	    }
	    .room__delete-btn i{
	    	position: relative;
		    top: 73px;
		    float: left;
		    left: 20px;
	    }
	}
}
.room__add{
	background: #fff;
    border: 1px solid #aaabae;
    padding: 10px 20px;
    font-size: 13px;
    font-weight: 900;
    display: block;
    float: left;
    border-radius: 3px;
    i{
    	margin: 0 0 0 5px;
    }
    &:hover{
    	text-decoration: underline;
    }
}
.room__confirm{
	background: #ffd25d;
	border: 1px solid #ffd25d;
    padding: 10px 20px;
    font-size: 13px;
    font-weight: 900;
    display: block;
    float: left;
    border-radius: 3px;
    margin-left:20px;
    i{
    	margin: 0 0 0 5px;
    }
    &:hover{
    	text-decoration: underline;
    }
    @media (max-width: 767px) {
    	margin-left:15px;
    }
}
.form-city-container-options {
	top: -46px;
}