.stage{
	background: #5873bb;
}
.stage_container{
	max-width: $desktop-max-width;
	margin: 0 auto;	
	overflow: auto;
	padding:30px 0;
	h1{
		max-width:400px;
	}
}
.stage__form{
	max-width: 400px;
	background: #fff;
	padding:30px;
	box-sizing:border-box;
	text-align:center;
	.form__btn{
		display: block;
	    margin: 20px auto;
	    background: #ffd25d;
	    border: none;
	    padding: 10px;
	    width: 100%;
	    border-radius: 3px;
	    font-size: 15px;
	    font-weight: 900;
	}
}
.form__control{
	select{
		display: block;
	    width: 100%;
	    border: 2px solid #e4e4e7;
	    margin-top: 20px;
	    padding: 10px;
	    color: #7b7b85;
	    font-size: 12px;
	    opacity: 0.75;
	    -webkit-appearance: none;
	    -moz-appearance: none;
	    text-indent: 1px;
	    text-overflow: '';
	    &.js-city{
	    	background: url(../images/location.png) no-repeat right 10px top 8px;
	    }
	    &.js-hotel{

	    }
	}
	.form__label{
		font-size: 13px;
		font-weight: 600;
	}
}
.form_guestWrap{
	overflow: auto;
	margin-top:20px;
	.form__control{
		width:29.4%;
		float:left;
		margin-right:20px;
		text-align:center;
		&:last-child{
			margin-right:0;
		}
		input{
			display: block;
		    width: 100%;
		    border: 2px solid #e4e4e7;
		    margin-top: 20px;
		    padding:29px 0 10px;
		    color: #7b7b85;
		    font-size: 12px;
		    opacity: 0.75;
		    -webkit-appearance: none;
		    -moz-appearance: none;
		    text-indent: 1px;
		    text-overflow: '';
		    box-sizing: border-box;
		    text-align:center;
		    &.check-in{
		    	background: url(../images/calandar.png) no-repeat center top 7px;
		    }
		    &.check-out{
		    	background: url(../images/calandar.png) no-repeat center top 7px;
		    }
		}
		select.guest{
	    	background: url(../images/guest.png) no-repeat center top 7px;
	    	padding: 29px 30px 10px;
	    }
	}

}
.stage_conditions{
	max-width: 400px;
	font-size:14px;
	line-height:1.57;
	color:#ffffff;
	font-family:$font-family-helvetica-light;
	a{
		color:#ffffff;
		text-decoration:underline;
		cursor:pointer;
		&:hover{
			text-decoration:none;
		}
	}
}
#fade{
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index:1001;
    -moz-opacity: 0.7;
    opacity:.70;
    filter: alpha(opacity=70);
}
#light{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 200px;
    margin-left: -150px;
    margin-top: -100px;                 
    padding: 10px;
    border: 2px solid #FFF;
    background: #CCC;
    z-index:1002;
    overflow:visible;
}