.stage{
	background: #5873bb;
}
.stage_container{
	max-width: $desktop-max-width;
	margin: 0 auto;	
	padding:30px 0;
	h1{
		max-width:400px;
	}
}
.stage__form{
	max-width: 400px;
	background: #fff;
	padding:30px;
	box-sizing:border-box;
	text-align:center;
	.form__btn{
		display: block;
	    margin: 20px auto;
	    background: #ffd25d;
	    border: none;
	    padding: 10px;
	    width: 100%;
	    border-radius: 3px;
	    font-size: 15px;
	    font-weight: 900;
	}
	.stage__hint{
		font-size:13px;
		font-weight:300;
	}
}
.form__control{
	.select2-container{
		display: block;
	    width: 100% !important;
	    border: 2px solid #e4e4e7;
	    margin-top: 20px;
	    padding: 10px;
	    color: #7b7b85;
	    font-size: 12px;
	    opacity: 0.75;
	    -webkit-appearance: none;
	    -moz-appearance: none;
	    text-indent: 1px;
	    text-overflow: '';
	    text-align:left;
	    border-radius: 3px;
	    #select2-city-container{
	    	background: url(../images/location.png) no-repeat right 10px top 2px;
	    }
	    #select2-property-container{
	    	background: url(../images/location.png) no-repeat right 10px top 2px;
	    }
	}
	.select2-container--default .select2-selection--single {
	    background-color: transparent;
	    border: none;
	    border-radius: 3px;
	}
	.select2-container--default .select2-selection--single .select2-selection__arrow{
		display:none;
	}
	.form__label{
		font-size: 13px;
		font-weight: 600;
	}
}
.form_guestWrap{
	overflow: auto;
	margin-top:20px;
	.form__control{
		width:29.4%;
		float:left;
		margin-right:20px;
		text-align:center;
		&:last-child{
			margin-right:0;
		}
		input{
			display: block;
		    width: 100%;
		    border: 2px solid #e4e4e7;
		    margin-top: 20px;
		    padding:29px 0 10px;
		    color: #7b7b85;
		    font-size: 12px;
		    opacity: 0.75;
		    -webkit-appearance: none;
		    -moz-appearance: none;
		    text-indent: 1px;
		    text-overflow: '';
		    box-sizing: border-box;
		    text-align:center;
		    &.check-in{
		    	background: url(../images/calandar.png) no-repeat center top 7px;
		    }
		    &.check-out{
		    	background: url(../images/calandar.png) no-repeat center top 7px;
		    }
		}
		.input-wrap{
			background: url(../images/corner-icon.png) no-repeat bottom right;
		}
		select.guest{
	    	background: url(../images/guest.png) no-repeat center top 7px;
	    	padding: 29px 30px 10px;
	    }
	    select{
	    	&:focus{
	    		outline:none;
	    	}
	    }
	}

}
.stage_conditions{
	max-width: 400px;
	font-size:14px;
	line-height:1.57;
	color:#ffffff;
	font-family:$font-family-helvetica-light;
	a{
		color:#ffffff;
		text-decoration:underline;
		cursor:pointer;
		&:hover{
			text-decoration:none;
		}
	}
	.checkbox-wrap { position: relative; }
	.checkbox-wrap input { position: absolute; left: 0; right: 0; opacity: 0; }
	.checkbox-wrap label { position: relative; display: inline-block; padding-left: 36px; padding-top: 3px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
	.checkbox-wrap label:after { position: absolute; top: 0; left: 0; width: 25px; height: 25px; border: 1px solid #fff; background: transparent; background-position: center center; content: ''; -webkit-transition:all .3s; transition: all .3s; }
	.checkbox-wrap input:checked + label:after { border-color: #ccc; background: transparent url(../images/check.jpg) no-repeat center center; background-size: 11px 7px; }
}
#fade{
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index:1001;
    -moz-opacity: 0.7;
    opacity:.70;
    filter: alpha(opacity=70);
}
#light{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: auto;
    margin-left: -150px;
    margin-top: -100px;                 
    padding: 45px 20px;
    background: #fff;
    z-index:1002;
    overflow:visible;
    color:$text-color-base;
    text-align:center;
    span{
    	position: absolute;
	    top: 1px;
	    right: 1px;
	    font-size: 20px;
	    padding: 0px 13px 5px;
	    border: 1px solid #000;
	    cursor:pointer;
	    &:hover{
	    	background: #ffd25d;
	    }
    }
}
.stage_promotion{
	background: #fff;
	border-radius:100px;
	color: $text-color-secondary;
	font-weight:300;
	font-size:12px;
	width:110px;
	height:110px;
	float:right;
	text-align:center;
	overflow:hidden;
	padding: 32px 0;
    box-sizing: border-box;
    line-height:1.08;
    -webkit-box-shadow: 0px 4px 10px 0 rgba(0,0,0,.25);
	-moz-box-shadow: 0px 4px 10px 0 rgba(0,0,0,.25);
	box-shadow: 0px 4px 10px 0 rgba(0,0,0,.25);
	span{
		font-weight:900;
		color:$text-color-base;
		font-size:14px;
		display:block;
		line-height:1.14;
	}
}

.ui-datepicker-next{
	background: url(../images/calandar-next.png) no-repeat center;
	width:40px !important;
	height:28px !important;
	&:hover{
		background: url(../images/calandar-next.png) no-repeat center;
	}
}
.ui-datepicker-prev{
	background: url(../images/calandar-prev.png) no-repeat center;
	width:40px !important;
	height:28px !important;
	&:hover{
		background: url(../images/calandar-prev.png) no-repeat center;
	}
}
.ui-datepicker .ui-datepicker-header{
	background: none;
    border: none;
}
.ui-datepicker .ui-datepicker-title{
	color: #232e48;
	font-size:16px;
}
.ui-datepicker-calendar{
	color: #232e48;
}
.ui-datepicker td{
	font-size:15px;
	border-right: 1px solid #dddee0;
	border-bottom: 1px solid #dddee0;
	padding:0;
}
.ui-datepicker tbody{
	border-top: 1px solid #dddee0;
	border-bottom: 1px solid #dddee0;
	border-left: 1px solid #dddee0;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
	background: #fff;
	color: #232e48;
	border:none;
	&:hover{
    	background: #232e48 !important;
		color:#fff !important;
    }
}
.ui-widget.ui-widget-content{
	border-top: 1px solid #dddee0;
	padding:10px;
	margin-top: 20px;
	z-index: 3 !important;
	width: auto;
	-webkit-box-shadow: 0 15px 15px 0 rgba(35, 46, 72, 0.25);
	-moz-box-shadow: 0 15px 15px 0 rgba(35, 46, 72, 0.25);
	box-shadow: 0 15px 15px 0 rgba(35, 46, 72, 0.25);
}
.ui-datepicker-title{
	position: relative;
	&:after {
	    content: '';
	    position: absolute;
	    top: -10px;
	    left: -12px;
	    border: solid #dddee0;
	    border-width: 0 1px 1px 0;
	    display: inline-block;
	    padding: 9px;
	    transform: rotate(-135deg);
	    -webkit-transform: rotate(-135deg);
	}
	&:before {
	    content: '';
	    position: absolute;
	    top: -14px;
	    left: -16px;
	    width: 27px;
	    height: 1px;
	    background: #fff;
	}
}
.ui-datepicker td span, .ui-datepicker td a{
	padding: 5px 10px;
    text-align: center;
}
a.ui-state-active{
	background: #232e48 !important;
	color:#fff !important;
}
form{
	position: relative;
}
.select-guest-container{
	position: absolute;
    top: 85%;
    left: 0;
    background: #fff;
    width: 100%;
    box-shadow: 0 15px 15px 0 rgba(35, 46, 72, 0.25);
    -webkit-box-shadow: 0 15px 15px 0 rgba(35, 46, 72, 0.25);
	-moz-box-shadow: 0 15px 15px 0 rgba(35, 46, 72, 0.25);
  	border: solid 1px #e4e4e7;
  	margin-top:10px;
  	padding: 20px;
    &:after {
	    content: '';
	    position: absolute;
	    top: -10px;
	    right: 25px;
	    border: solid #dddee0;
	    border-width: 0 1px 1px 0;
	    display: inline-block;
	    padding: 9px;
	    transform: rotate(-135deg);
	    -webkit-transform: rotate(-135deg);
	}
	&:before {
	    content: '';
	    position: absolute;
	    top: -1px;
	    right: 21px;
	    width: 27px;
	    height: 1px;
	    background: #fff;
	}
	h5{
		font-size: 16px;
  		font-weight: 900;
  		border-bottom:1px solid #dddee0;
  		color:$text-color-base;
  		padding: 0 0 10px;
  		text-align:left;
	}
}
.js-cancel-select-guest{
	position: absolute;
    top: 15px;
    right: 20px;
}