.subscribe{
	background: #fff3e5;
}
.subscribe_container{
	max-width: $desktop-max-width;
	margin: 0 auto;	
	overflow: auto;
	padding: 30px 0;
	text-align: center;
}
.subscribe_info{
	.subscribe_updates{		
		font-weight: 600;
		color: $text-color-base;
	}
	p{
		font-weight: 300;
		color: $text-color-secondary;
		font-size: 20px;
		padding: 0;
		margin: 0;
	}
}
.subscribe_signup{
	font-size: 13px;
	color: $text-color-secondary;
	font-weight: 300;
	a{
		color: $text-color-base;
		font-weight: 700;
	}
}
.subscribe_video{
	h2{
		color: $text-color-base;
		font-size: 40px;
	}
}
.hotels{
	img{
		margin-right:20px;
		&:last-child{
			margin-right:0;
		}
	}
}