.tabs{
	background: #fff3e5;
	position: relative;
	z-index: 1;
	@media (max-width: 950px) {
		padding:0 20px !important;
	}
}
.tabs-list{
	padding:0;
	@media (max-width: 767px) {
		display:none;
	}
}
.tabs-select{
	display:none;
	@media (max-width: 767px) {
		display:block;
	}
	
}
.tabs-select+span.select2 i{
	@media (max-width: 767px) {
		position: relative;
    	top: -5px;
	}

}
.select2-results__option i{
	@media (max-width: 767px) {
		position: relative;
    	top: -5px;
	}
}
.tabs-select + span.select2{
	display:none;

	@media (max-width: 767px) {
		display:block;
		width: 100% !important;
	    border: none;
	    background: #fff;
	    padding: 10px 0;
	    border-bottom: 3px solid #ffd25d;
	    .select2-selection--single{
	    	border: none;
		    border-radius: 3px;
		    font-size: 18px;
		    &:focus{
		    	outline:none !important;
		    }
	    }
	    i{
	    	margin: 0 10px 0;
	    }
	}
}
.tabs_container{
	max-width: $desktop-max-width;
	margin: 0 auto;	
	padding:49px 0 102px;
	@media (max-width: 767px) {
		padding: 49px 0 50px;
	}
	h3{
		text-align: center;
	}
}
.tabs-wrap{
	margin-top: 30px;
}
.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
	li{
		background: #ffe8be;
		color: $text-color-base;
		display: block;
		padding: 19px 0;
		cursor: pointer;
		float:left;
		width:23.4%;
		text-align:center;
		position: relative;
		margin-right:20px;
		&:last-child{
			margin-right:0;
		}
		i{
			margin: 0 7px 0 -17px;
		    position: relative;
		    top: -2px;

			@media (max-width: 950px) {
				margin: 0 3px -3px 0;
			}
		}
		span{
			background:#ffd25d;
			display:block;
			height:3px;
			opacity:0.4;
			position: absolute;
			width:100%;
			bottom:0;
			left:0;
		}
		&.current,&:hover,&:focus{
			background: #fff;
			position: relative;
			&:after{
				content: '';
			    width: 0;
			    height: 0;
			    border-left: 15px solid transparent;
			    border-right: 15px solid transparent;
			    border-top: 15px solid #ffd25d;
			    position: absolute;
			    bottom: -13px;
			    left: 43%;
			}
			span{
				opacity:1;
			}
		}
		@media (max-width: 950px) {
			width:22.8%;
		}
	}
	.tab-content{
		display: none;
		margin-top:28px;
		&.current{
			display: inherit;
		}
	}
	.tab-content-left{
		width: auto;
	    float: left;
	    margin-right: 64px;
	    @media (max-width: 767px) {
	    	width: 100%;
		    float: none;
		    margin-right: 0;
		    margin: 0 auto 30px;
	    }
	}
	.tab-content-right{
		float: left;
    	width: 67%;
    	margin-top: 13px;
    	@media (max-width: 950px) {
    		width:58%;
    	}
    	@media (max-width: 767px) {
    		width: 100%;
		    float: none;
		    margin: 0 auto;
    	}
		span{
			opacity: 0.4;
		    font-size: 13px;
		    font-weight: 900;
		}
		h5{
			color:$text-color-base;
			opacity: 0.6;
			font-weight: 600;
			line-height: 1;
			margin-top: 15px;
		}
		p{
			font-family: $font-family-helvetica-light;
			margin-top: 20px;
		}
		a{
			font-size: 16px;
    		font-weight: 900;
    		display:block;
		}
		.chat{
			background: #ff890d;
			border-radius: 3px;
			padding:20px;
			text-align: center;
			min-width:230px;
			color:#fff;
			font-size: 13px;
  			font-weight: 900;
  			display: inline-block;
  			margin-top: 25px;
  			i{
  				right: 10px;
    			position: relative;
  			}
  			@media (max-width: 767px) {
  				min-width:100%;
  				padding:20px 0;
  			}
		}
		.chat-support{
			i{
				margin: 5px 13px 5px 0;
			}
		}
	}
}
.select2-results__option{
	font-size: 18px;
    &:focus{
    	outline:none !important;
    }
	i {
	    margin: 0 10px 0;
	}
}
.select2-selection__arrow{
	top:11px !important;
	b{
		border-width: 6px 6px 0 6px !important;
		margin-left: -9px !important;
		margin-top: -2px !important;
	}
}