.tabs{
	background: #fff3e5;
	position: relative;
	z-index: 1;
	@media (max-width: 950px) {
		padding:0 20px !important;
	}
}
.tabs-list{
	padding:0;
	@media (max-width: 767px) {
		display:none;
	}
}
.tabs-select{
	display:none;
	@media (max-width: 767px) {
		display:block;
	}
	
}
.tabs-select + span.select2{
	display:none;

	@media (max-width: 767px) {
		display:block;
		width: 100% !important;
	    border: none;
	    background: #fff;
	    padding: 10px 0;
	    border-bottom: 3px solid #ffd25d;
	    .select2-selection--single{
	    	border: none;
		    border-radius: 3px;
		    font-size: 18px;
		    &:focus{
		    	outline:none !important;
		    }
	    }
	    i{
	    	margin: 0 10px 0;
	    }
	}
}
.tabs_container{
	max-width: $desktop-max-width;
	margin: 0 auto;	
	padding:49px 0 60px;
	h3{
		text-align: center;
	}
}
.tabs-wrap{
	margin-top: 30px;
}
.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
	li{
		background: #ffe8be;
		color: $text-color-base;
		display: block;
		padding: 19px 0;
		cursor: pointer;
		float:left;
		width:23.4%;
		text-align:center;
		position: relative;
		margin-right:20px;
		&:last-child{
			margin-right:0;
		}
		i{
			margin: 0 7px -3px -17px;
			@media (max-width: 950px) {
				margin: 0 3px -3px 0;
			}
		}
		span{
			background:#ffd25d;
			display:block;
			height:3px;
			opacity:0.4;
			position: absolute;
			width:100%;
			bottom:0;
			left:0;
		}
		&.current,&:hover,&:focus{
			background: #fff;
			position: relative;
			&:after{
				content: '';
			    width: 0;
			    height: 0;
			    border-left: 15px solid transparent;
			    border-right: 15px solid transparent;
			    border-top: 15px solid #ffd25d;
			    position: absolute;
			    bottom: -13px;
			    left: 43%;
			}
			span{
				opacity:1;
			}
		}
		@media (max-width: 950px) {
			width:22.8%;
		}
	}
	.tab-content{
		display: none;
		padding: 15px;
		margin-top:20px;
		&.current{
			display: inherit;
		}
	}
	.tab-content-left{
		width: auto;
	    float: left;
	    margin-right: 50px;
	}
}
.select2-results__option{
	font-size: 18px;
    &:focus{
    	outline:none !important;
    }
	i {
	    margin: 0 10px 0;
	}
}
.select2-selection__arrow{
	top:11px !important;
	b{
		border-width: 6px 6px 0 6px !important;
		margin-left: -9px !important;
		margin-top: -2px !important;
	}
}