@import 'mixins';

@include font-face(Helvetica Neue Light, fonts/HelveticaNeueLight, normal, normal, ttf otf);
@include font-face(Helvetica Neue Thin, fonts/HelveticaNeueThin, normal, normal, ttf otf);
