<!DOCTYPE html>
<html>
<head>
	<title>Mystays</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="../scripts/vendor/jqueryui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="../scripts/vendor/jquery.slick/1.6.0/slick.css"/>
	<link rel="stylesheet" type="text/css" href="../scripts/vendor/select2/css/select2.css">
	<link rel="stylesheet" type="text/css" href="../dist/styles/style.min.css">
	<!-- <script src="https://js.gleam.io/oi-my108fgp.js" async="async"></script> -->
	<script src="https://www.youtube.com/iframe_api"></script>
<body>
	<header>
		<div class="header_container clearfix">
			<div class="logo">
				<img src="../dist/images/ms-logo.png" title="logo">
				<i class="ico-cross"></i>
				<img src="../dist/images/pepper-logo.png" title="logo">
			</div>
			<div class="header_links">
				<ul>
					<li><a href="javascriptvoid">Hotels &amp; Resorts</a></li>
					<li><a href="javascriptvoid">Destinations</a></li>
					<li class="select-language"><i class="ico-flag-english"></i> Jp
						<ul class="header_language" name="country">
							<li value="EN"><a href="">En</a></li>
							<li value="KR"><a href="">Kr</a></li>
							<li value="CNT"><a href="">Cnt</a></li>
							<li value="CNS"><a href="">Cns</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</header>
	<section class="stage">
		<div class="stage_container">
			<h1 class="stage__heading">Win Amazing Pepper <i class="ico-cross-stage"></i> Mystays Prizes!</h1>
			<div class="stage__form form">
				<form name="mainForm" id="mainForm" novalidate autocomplete="off">
					<div class="form__control">
						<label class="form__label">Where in Japan?</label>
						<select class="form__field js-city" type="text" id="city">
							<option value=""> Please select a city</option>
							<option value="tokyo">Tokyo</option>
							<option value="kyoto">Kyoto</option>
							<option value="osaka">Osaka</option>
							<option value="kanazawa">Kanazawa</option>
							<option value="maihama-urayasu">Maihama/Urayasu</option>
							<option value="tachikawa">Tachikawa</option>
							<option value="kawasaki">Kawasaki</option>
							<option value="yokohama">Yokohama</option>
							<option value="chiba">Chiba</option>
							<option value="tochigi">Tochigi</option>
							<option value="hokkaido">Hokkaido</option>
							<option value="aomori">Aomori</option>
							<option value="yamanashi">Yamanashi</option>
							<option value="nagoya">Nagoya</option>
							<option value="niigata">Niigata</option>
							<option value="kagawa">Kagawa</option>
							<option value="ehime">Ehime</option>
							<option value="fukuoka">Fukuoka</option>
							<option value="oita">Oita</option>
							<option value="okinawa">Okinawa</option>
						</select>
					</div>
					<div class="form__control">
						<select class="form__field js-hotel required" type="text" name="property" id="property">
						</select>
					</div>
					<div class="form_guestWrap">
						<div class="form__control">
							<label class="form__label">Check In</label>
							<div class="input-wrap">
								<input class="form__field form__field--sm js-datepicker check-in required" type="text" name="arrival" id="checkIn" placeholder="Select" readonly>
							</div>
						</div>
						<div class="form__control">
							<label class="form__label">Check Out</label>
							<div class="input-wrap">
								<input class="form__field form__field--sm js-datepicker check-out required" type="text" name="departure" id="checkOut" placeholder="Select" readonly>
							</div>
						</div>
						<div class="form__control">
							<label class="form__label">No of guests</label>
							<div class="input-wrap">
								<input class="form__field form__field--sm required js-select-guest guest" placeholder="Guests" type="text" name="adults1" id="adults1" readonly>
								<input class="form__field form__field--sm js-total-children" type="hidden" name="children1" id="children1">
								<input class="form__field form__field--sm js-total-room" type="hidden" name="rooms" id="rooms"> 
							</div>
						</div>
					</div>
					<div class="select-guest-container js-select-guest-container hidden">
								<h5>Rooms</h5>
								<a class="js-cancel-select-guest cancel-select-guest" title="Close" href="javascript:;"><i class="ico-close-btn"></i></a>
								<ul class="js-room-list room-list clearfix" style="list-style: none;padding-left: 0;">
									<li class="room js-room clearfix" data-room="0">
										<div class="room-container clearfix">
											<p class="room__heading">Room1</p>
											<div class="form__control">
												<label class="room__label form__label">Adults</label>
												<div class="input-wrap">
													<select class="room__field form__field js-adult-count">
														<option value="1">1</option>
														<option value="2">2</option>
													</select>
												</div>
											</div>
											<div class="form__control">
												<label class="room__label form__label">Children</label>
												<div class="input-wrap">
													<select class="room__field form__field js-child-count">
														<option value="0">0</option>
														<option value="1">1</option>
														<option value="2">2</option>
													</select>
												</div>
											</div>
										</div>
										<div class="room__age-container js-child-age-list">
										</div>
									</li>
								</ul>
								<div class="button-wrap">
									<button type="button" class="room__add js-add-room">Add Room <i class="ico-add-room"></i></button>
									<button type="button" class="room__confirm js-confirm">Confirm here <i class="ico-confirm"></i></button>
								</div>
							</div>
					<button type="button" class="form__btn js-main-form-btn" id="main-form-btn">Book Now with Pepper</button>
				</form>
				<p class="stage__hint">Best Price Guarantee!</p>
			</div>
			<div class="stage_conditions">
				<div class="checkbox-wrap">
 					<input type="checkbox" class="form__field js-check-box" id="checkbox" checked> 
 					<label for="checkbox">Yes I want to become a MyStays Member and Join the Campaign</label>
 				</div>
				<a onclick="lightboxOpen()"><i class="ico-policies"></i>Terms &amp; Conitions</a>
				<div id="light">
					<span onclick="lightboxClose()">x</span>
					terms text
				</div>
				<div id="fade" onclick="lightboxClose()"></div> 
			</div>
		</div>
	</section>
	<section class="offers">
		<div class="offers_container clearfix">
			<ul>
				<li><i class="ico-offers"></i>Best Price Guarantee</li>
				<li><i class="ico-offers"></i>5% Extra Discount</li>
				<li><i class="ico-offers"></i>Enter Pepper Lotery</li>
			</ul>
			<div class="arrow-down"></div>
		</div>
	</section>
	<section class="tabs">
		<div class="tabs_container clearfix">
			<h3>MyStays Meets Pepper</h3>
			<div class="tabs-wrap">
				<ul class="tabs clearfix">
					<li class="tab-link current" data-tab="tab-1"><i class="ico-chat"></i> Live Support <span></span></li>
					<li class="tab-link" data-tab="tab-2"><i class="ico-map"></i> City Guide <span></span></li>
					<li class="tab-link" data-tab="tab-3"><i class="ico-selfie"></i> Fun Selfies <span></span></li>
					<li class="tab-link" data-tab="tab-4"><i class="ico-star"></i> Amazing Campaings <span></span></li>
				</ul>
				<div id="tab-1" class="tab-content clearfix current">
					<div class="tab-content-left">
						<img src="../dist/images/chat-image.png" title="chat">
					</div>
					<div class="tab-content-right">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					</div>
				</div>
				<div id="tab-2" class="tab-content clearfix">
					<div class="tab-content-left">
						<img src="../dist/images/chat-image.png" title="chat">
					</div>
					<div class="tab-content-right">
						test
					</div>
				</div>
				<div id="tab-3" class="tab-content clearfix">
					<div class="tab-content-left">
						<img src="../dist/images/chat-image.png" title="chat">
					</div>
					<div class="tab-content-right">
						test1
					</div>
				</div>
				<div id="tab-4" class="tab-content clearfix">
					<div class="tab-content-left">
						<img src="../dist/images/chat-image.png" title="chat">
					</div>
					<div class="tab-content-right">
						test2
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="slider">
 		<div class="slider_container clearfix">
 			<h2>77 Hotels all around Japan</h2>
 			<p>Book your Hotel, Save and Win!</p>
 			<span>Please select a city:</span>
 			<select class="js-slider-control">
				<option value="tokyo" selected>Tokyo</option>
				<option value="kyoto">Kyoto</option>
				<option value="osaka">Osaka</option>
				<option value="kanazawa">Kanazawa</option>
				<option value="maihama-urayasu">Maihama/Urayasu</option>
				<option value="tachikawa">Tachikawa</option>
				<option value="kawasaki">Kawasaki</option>
				<option value="yokohama">Yokohama</option>
				<option value="chiba">Chiba</option>
				<option value="tochigi">Tochigi</option>
				<option value="hokkaido">Hokkaido</option>
				<option value="aomori">Aomori</option>
				<option value="yamanashi">Yamanashi</option>
				<option value="nagoya">Nagoya</option>
				<option value="niigata">Niigata</option>
				<option value="kagawa">Kagawa</option>
				<option value="ehime">Ehime</option>
				<option value="fukuoka">Fukuoka</option>
				<option value="oita">Oita</option>
				<option value="okinawa">Okinawa</option>
			</select>
			<ul class="lazy js-slider">
			</ul>
 		</div>
 	</section>
 	<section class="subscribe">
 		<div class="subscribe_container clearfix">
 			<div class="subscribe_info">
 				<span><i class="ico-newsletter"></i></span>
 				<p class="subscribe_updates">Receive Updates from MyStays and Pepper</p>
 				<p>Join our News Letter Now!</p>
 			</div>
 			<div class="subscribe_glem">
	 			<div data-capture-embed='iFnh0'></div>
	 			<p class="subscribe_signup">Sign up or Sign in to get access to free content, reveal exclusive deals and book faster! <a href="javascriptvoid">Sign in</a></p>
 			</div>
 			<div class="subscribe_video">
 				<h2>Watch Pepper Helping our Clients</h2>
 				<iframe id="playerA" frameborder="0" width="100%" height="345" title="YouTube video player" type="text/html" src="https://www.youtube.com/embed/MIl7HvKKxBc?enablejsapi=1"></iframe>
 			</div>
 			<div class="hotels">
  				<img src="../dist/images/art-hotel.png" alt="">
  				<img src="../dist/images/monthly-rei-stays.png" alt="">
  				<img src="../dist/images/hotel-mystays.png" alt="">
 				<img src="../dist/images/flexstay-inn.png" alt="">
  				<img src="../dist/images/my-cube.png" alt="">
   			</div>
 		</div>
 	</section>
	<section class="newsletter">
		<div class="newsletter_container clearfix">
			<h4>MyStays <i class="ico-cross"></i> Pepper</h4>
			<h5>Aenean eu leo quam pellentesque ornare lacinia!</h5>
			<p>Etiam porta sem malesuada magna mollis euismod aenean eu leo quam pellentesque ornare sem lacinia quam venenatis vestibulum praesent commodo cursus magna.</p>
			<ul>
				<li><a class="newsletter_link" target="_blank" href="javascriptvoid"><i class="ico-press-release"></i>Read our Press Release</a></li>
				<li><a class="campaign_link">Book and Join the Campaign <i class="ico-campaign-arrow"></i></a></li>
			</ul>
		</div>
	</section>
	<section class="sitemap">
 		<div class="sitemap_container clearfix">
 			<div class="sitemap_links">
 				<p><i class="ico-website"></i> MyStays Website</p>
 				<ul>
 					<li><a href="javascritvoid">Our Hotels &amp; Resorts</a></li>
 					<li><a href="javascritvoid">Destinations</a></li>
 					<li><a href="javascritvoid">Top Attractions</a></li>
 					<li><a href="javascritvoid">Sitemap</a></li>
 				</ul>
 			</div>
 			<div class="sitemap_links">
 				<p><i class="ico-contact"></i> Get in Touch</p>
 				<ul>
 					<li><a href="javascritvoid">Chat with us</a></li>
 					<li><a href="javascritvoid">Contact us</a></li>
 					<li><a href="javascritvoid">Cancel Your Reservation</a></li>
 					<li><a href="javascritvoid">Phone: +81 1267 03087</a></li>
 				</ul>
 			</div>
 			<div class="sitemap_links">
 				<p><i class="ico-company"></i> Company</p>
 				<ul>
 					<li><a href="javascritvoid">Corporate Info</a></li>
 					<li><a href="javascritvoid">Development</a></li>
 					<li><a href="javascritvoid">Marketing Contact</a></li>
 					<li><a href="javascritvoid">Media Contact</a></li>
 				</ul>
 			</div>
 			<div class="sitemap_links">
 				<p><i class="ico-policies"></i> Policies</p>
 				<ul>
 					<li><a href="javascritvoid">Privacy Policy</a></li>
 					<li><a href="javascritvoid">Cancellation Policy</a></li>
 					<li><a href="javascritvoid">Child Policy</a></li>
 				</ul>
 			</div>
 		</div>
 	</section>
 	<footer>
 		<div class="footer_container clearfix">
 			<div class="footer_logo">
 				<img src="../dist/images/footer-logo.png" alt="logo">
 				<p>Corporate Outline</p>
 				<p>© MyStays Hotel Management Co, Ltd</p>
 			</div>
 			<div class="footer_social">
 				<ul>
 					<li><a class="twitter" href="javascriptvoid"></a></li>
 					<li><a class="facebook" href="javascriptvoid"></a></li>
 					<li><a class="instagram" href="javascriptvoid"></a></li>
 					<li><a class="youtube" href="javascriptvoid"></a></li>
 				</ul>
 				<ul>
 					<li><a href="javascriptvoid">Sitemap</a></li>
 					<li><a href="javascriptvoid">Cookie Settings</a></li>
 				<li><a href="javascriptvoid">FAQ</a></li>
 				</ul>
 				<ul>
 					<li><a href="javascriptvoid">Privacy Policy</a></li>  
 					<li><a href="javascriptvoid">Cancelation Policy</a></li> 
 					<li><a href="javascriptvoid">Contact Us</a></li> 
 					<li>Best Price Guarantee</li> 
 				</ul>                     
 			</div>
 		</div>
 	</footer>
	<script type="text/javascript" src="../scripts/vendor/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="../scripts/vendor/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script type="text/javascript" src="../scripts/vendor/jquery.slick/1.6.0/slick.min.js"></script>
	<script type="text/javascript" src="../scripts/vendor/select2/js/select2.full.min.js"></script>
	<script type="text/javascript" src="../scripts/main.js"></script>
</body>
</html>