.sitemap{
	background: #f2f2f2;
	@media (max-width: 950px) {
		padding:0 15px;
	}
}
.sitemap_container{
	max-width: $desktop-max-width;
	margin: 0 auto;	
	padding: 66px 0 54px;
	@media (max-width: 767px) {
		padding: 0;
	}
}
.sitemap_links{
	width: 23%;
    float: left;
    margin-right: 23px;
    @media (max-width: 950px) {
    	width: 22.6%;
    }
    @media (max-width: 767px) {
    	position: relative;
    }
    &.current{
    	.footer-plus{
    		background: #232e48;
    		content:'';
    		position: absolute;
    		top:34px;
    		right:0;
    		width:15px;
    		height:2px;
    		background-image:none;
    		opacity:0.6;
    		&:before{
    			display: none;
    		}
    	}
    }
    .footer-plus{
    	display: none;
    	@media (max-width: 767px) {
    		display: block;
		    position: absolute;
		    right: 0;
		    top: 27px;
    	}
    }
	&:last-child{
		margin-right:0;
	}
	p{
		font-weight: 600;
		padding: 0 0 12px;
		margin: 0;
		line-height: 1.93;
		border-bottom: 1px solid #dddee0;
		i{
			margin: 0 7px -2px 0;
		}
		@media (max-width: 767px) {
			padding:20px 0;
		}
	}
	ul{
		list-style: none;
		padding: 0;
		margin: 27px 0 0;
		li{
			a{
				display:block;
				font-family: $font-family-helvetica-light;
				font-size: 13px;
				padding: 0 0 13px;
			}
		}
	}
}

@media (max-width: 767px) {
	.sitemap_links{
		width: 100%;
   		float: none;
   		p{
   			cursor: pointer;
   		}
		ul{
			display:none;
		}
	}
}

